<html>
<head>
</head>
<body ng-app="TodoApp">
  <section ng-controller="TodoCtrl">
    <h1>{{ title }}</h1>
    <div>
      <label>Two-Way Binding:</label>
      <input type="text" ng-model="macaroni" />
      <div> {{ macaroni }} </div>
    </div>
    <div>
      <label>Search:</label>
      <input type="text" ng-model="searchText" />
    </div>
    <div>
      <ul class="todo-list" ng-repeat="todo in todos | filter: searchText">
        <li>{{todo.name}} <button ng-click="killTodo(todo)">Finished</button></li>
      </ul>
    </div>

    <div>
      <input type="text" ng-model="newTodo">
      <button ng-click="addTodo()">Create</button>
  </section>

  <script src="lib/bower_components/angular/angular.min.js"></script>
  <script src="app/Todo.js"></script>
</body>
</html>
